name: CI

on:
  pull_request_review:
    types: [submitted]
  pull_request:
    branches:
      - main
  workflow_dispatch:

    # |
    # (
    #   (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') ||
    #   github.event.pull_request.user.login == 'niv@certora.com' ||
    #   github.event.pull_request.user.login == 'liav@certora.com'
    # ) &&
    # github.event.pull_request.base.ref == 'main'

jobs:
  Regression:
    env:
      ETHSCAN_API_KEY: ${{ secrets.ETHSCAN_API_KEY }}
      QUORUM_PATH: "."
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    runs-on: ubuntu-latest
    container:
      image: public.ecr.aws/certora/cvt-image:2024.10.23-4499-c4f8ad4
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Quorum Repo
        run: pip3.11 install .

      - name: Execute Regression Tests
        run: |
          pytest Quorum/tests --maxfail=1 --disable-warnings --tb=short
          CheckProposal --config Quorum/execution.json
      
      - name: Print
        run: echo "${{ github.event.pull_request.user.login }}"
