name: CI

on:
  pull_request_review:
    types: [submitted]
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Regression:
    if: |
      (
        (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') ||
        (github.event_name == 'pull_request' && 
          (github.event.pull_request.user.login == 'nivcertora' ||
           github.event.pull_request.user.login == 'liav-certora')
        )
      ) &&
      github.event.pull_request.base.ref == 'main'
    env:
      ETHSCAN_API_KEY: ${{ secrets.ETHSCAN_API_KEY }}
      QUORUM_PATH: "Quorum/tests"
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    runs-on: ubuntu-latest
    container:
      image: public.ecr.aws/certora/cvt-image:2024.10.23-4499-c4f8ad4
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Quorum Repo
        run: pip3.11 install .

      - name: Execute Regression Tests
        run: |
          pytest Quorum/tests --maxfail=1 --disable-warnings --tb=short
          Quroum single-payload --customer Aave --chain Ethereum --proposal_address 0xAD6c03BF78A3Ee799b86De5aCE32Bb116eD24637
          Quroum config --config Quorum/tests/regression.json
          Quroum proposal-id --proposal_id 137 --customer Aave
