name: publish-pypi

on:
  release:
    types: [published]
  # Uncomment the following line to enable manual publishing
  # workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      POETRY_DYNAMIC_VERSIONING_BYPASS: ${{ github.ref_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'  # Specify the Python version compatible with your project

      - name: Install Poetry Locally
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "${HOME}/.local/bin" >> $GITHUB_PATH

      - name: Install Automatic Versioning Plugin
        run: |
          poetry self add "poetry-dynamic-versioning[plugin]"

      - name: Configure PyPI Repository
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_PASSWORD }}

      - name: Publish to PyPI
        run: |
          echo "Publishing to PyPI with version: ${{ env.POETRY_DYNAMIC_VERSIONING_BYPASS }}"
          poetry build
          poetry publish
