name: publish-pypi

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      TWINE_USERNAME: ${{ secrets.PYPI_USER }}
      TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Update Quorum version
        run: echo "QUORUM_VERSION = '$TAG'" > Quorum/__version__.py

      - name: Install requirements for publishing
        run: pip3 install build twine

      - name: Build distros
        run: python3 -m build
      
      - name: Upload to PyPi
        run: python3 -m twine upload dist/* --verbose
